

h1 {
    font-family: "Lucida Calligraphy", 'Lato', sans-serif;
    margin: 10px 0px 0px 0px;
    font-weight:300;
    letter-spacing: 2px;
    font-size:48px;
    text-align: center;
    font-weight: bold;
}
.body {
    /*border-style: solid;*/
    /*border-color: red;*/

    min-height: max-content;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.encabezado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

p {
    font-family: 'Lato', sans-serif;
    margin: 30px 0px 0px 0px;
    font-weight:20;
    letter-spacing: 2px;
}

.header {
    text-align:center;
    background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
    color:white;
    border-style: solid;
}

.inner-header {
    height:5vh;
    width:100%;
    margin: 0;
    padding: 0;
}

.waves {
    position:relative;
    width: 100%;
    height:10vh;
    min-height:100px;
    max-height:150px;
}

nav{
    padding: 10px;
}

nav li{
    display: inline-flex;
    width:auto;
    padding: 10px;
    margin: 5px 5px 5px 5px;
    background-color: #00ACC1FF;
    text-align:center;
    border-radius: 50px;
}

nav a{
    text-decoration:none;
    color:white;
    font-size:14px;
}

nav li:hover{
    background-color: #543AB7FF;
}

.flag {
    width: 3%;
    margin: 10px 0;
}

.imagenes{
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

/* Estilos boton */

.boton1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 50px;
    background-image: url('/imagenes/oficina.jpg');
    background-size: cover;
    background-position: center;
    border: none;
    cursor: pointer;
    width: 400px;
    height: 200px;
    text-align: center;
    text-shadow: 2px 2px #fff;
    color: #a8c0ff;
    font-size: 60px;
    font-weight: bold;
    text-decoration: none;
    opacity: 0.8;
    transition: transform 0.3s ease-in-out;
}

.boton2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 50px;
    background-image: url('/imagenes/cars.jpg');
    background-size: cover;
    background-position: center;
    border: none;
    cursor: pointer;
    width: 400px;
    height: 200px;
    text-align: center;
    text-shadow: 2px 2px #fff;
    color: #a8c0ff;
    font-size: 60px;
    font-weight: bold;
    text-decoration: none;
    opacity: 0.8;
    transition: transform 0.3s ease-in-out;
}


.boton3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 50px;
    background-image: url('/imagenes/usuarios.jpg');
    background-size: cover;
    background-position: center;
    border: none;
    cursor: pointer;
    width: 400px;
    height: 200px;
    text-align: center;
    text-shadow: 2px 2px #fff;
    color: #a8c0ff;
    font-size: 60px;
    font-weight: bold;
    text-decoration: none;
    opacity: 0.8;
    transition: transform 0.3s ease-in-out;
}

.boton1:hover {
    transform: scale(1.15);
    color: #3f2b96;
}

.boton2:hover {
    transform: scale(1.15);
    color: #3f2b96;
}

.boton3:hover {
    transform: scale(1.15);
    color: #3f2b96;
}

/* Estilos Formulario */

.formulario{
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin: 10px;
    justify-content: space-around;
    height: max-content;
    background: #a8c0ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3f2b96, #a8c0ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px;
}

.form-input{
    padding: 10px;
    width: 250px;
    margin-right: 15px;
}

.form-input-area{
    padding: 10px;
    width: 250px;
    height: 100px;
    margin-right: 15px;
}


.form-seleccion{
    padding: 10px;
    width: 275px;
}

.checkbox{
    display: flex;
}

.form-boton{
    padding: 10px;
    width: 275px;
    margin-right: 15px;
}

.form-boton:hover{
    cursor: pointer;
}

.tabla {
    /*border-style: solid;*/
    /*border-color: black;*/
    border-collapse: collapse;
    margin: 10px auto;
    min-height: 100px; /* Establece un tamaño mínimo en la altura */

    /*display: flex;*/

}
.tabla caption{
    background-color: #00ACC1FF;
    color: white;
    padding: 10px;
    caption-side: top; /* Establece la posición de la leyenda */
    font-weight: bold; /* Agrega un peso de fuente más grande */
    text-transform: uppercase; /* Cambia el texto a mayúsculas */
}

.tabla th {
    background-color: #00ACC1FF;
    color: white;

}

.tabla td, .tabla th {
    border: 1px solid black;
    padding: 5px;
}


footer{
    position: absolute;
    width: 99%;
    margin-bottom: 0;
}

.redes {
    text-align:center;
    background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
    color:white;
}
.footer nav{
    padding: 5px;
}

/* Animation Header and footer */

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }
    100% {
        transform: translate3d(85px,0,0);
    }
}
/*Shrinking for mobile Header*/
@media (max-width: 768px) {
    .waves {
        height:40px;
        min-height:40px;
    }
    .content {
        height:30vh;
    }
    h1 {
        font-size:24px;
    }
}